/* * {
  margin: 0;
  box-sizing: border-box;
} */

#home {
  min-height: 100vh;
}

/* #hero {
  background: linear-gradient(to right, #b09262 0%, #62223b 100%);
  padding: 2rem;
  position: relative;
} */

#hero {
  position: relative;
  padding: 2rem;
  background: rgba(255, 255, 255, 0.1); /* semi-transparent white background */
  backdrop-filter: blur(20px); /* larger blur amount */
  overflow: hidden; /* hides the pseudo-element outside the #hero section */
}

#hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #b09262 0%, #62223b 100%);
  z-index: -1; /* places the pseudo-element behind the content of the #hero section */
}
#hero h1 {
  color: white;
  font-size: 3rem;
  line-height: 1.5;
  letter-spacing: 0.05em;
  font-family: Poppins, sans-serif;
}

h2 {
  font-family: Poppins, serif;
}

#description {
  padding: 2rem 0;
}

#activities {
  padding: 2rem 0;
}

#card-holder {
  display: flex;
  gap: 1rem;
}

@media (max-width: 650px) {
  #card-holder {
    flex-direction: column;
  }
}
/* card */
.card {
  flex: 1;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: #fff;
}

.card-title {
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  font-weight: bold;
}

.card-content {
  font-size: 1rem;
  line-height: 1.5;
}

#newsletter {
  padding: 2rem 0;
  background-color: #e0d4c1;
}
