/* * {
  margin: 0;
  box-sizing: border-box;
} */

#home-page {
  min-height: 100vh;
}

/* #hero {
  background: linear-gradient(to right, #b09262 0%, #62223b 100%);
  padding: 2rem;
  position: relative;
} */
h2 {
  font-family: Poppins, serif;
}

#description {
  padding: 2rem 0;
}

#activities {
  padding: 2rem 0;
}

#card-holder {
  display: flex;
  gap: 1rem;
}

@media (max-width: 650px) {
  #card-holder {
    flex-direction: column;
  }
}
/* card */
.card {
  flex: 1;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: #fff;
}

.card-title {
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  font-weight: bold;
}

.card-content {
  font-size: 1rem;
  line-height: 1.5;
}

#newsletter {
  padding: 2rem 0;
  background-color: #e0d4c1;
}
