#navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding: 15px 10px;
  border-bottom: #b09262 1px solid;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
}

#nav-items {
  max-width: 1000px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav-actions {
  display: flex;
  gap: 30px; /* Adjust this value to increase or decrease the gap between nav items */
}

.nav-item {
  transition: color 0.3s ease-in-out;
  color: #62223b; /* Default color */
  font-family: Poppins, sans-serif;
  text-decoration: none;
}

.nav-item.active {
  color: #b09262; /* Color when active */
}

.nav-item:hover {
  cursor: pointer;
  color: #b09262; /* Color when hovered */
}

#logo {
  max-height: 50px;
}

#menu {
  display: none;
  position: absolute;
  top: 30px;
  right: 1rem;
}

#menu:active {
  transform: scale(1.2);
  background-color: lightgrey;
  border-radius: 5px;
}
@media (max-width: 650px) {
  #nav-actions {
    display: none;
  }

  #nav-items {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }

  #nav-actions.open {
    flex-basis: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  #nav-actions.open .nav-item {
    width: 100%;
    padding: 10px 0;
    border-bottom: #b09262 1px solid;
  }

  #menu {
    display: block;
  }
}
