/* src/features/Root/components/Footer/footer.css */

#footer {
  width: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding: 15px 10px;
  position: sticky;
  background-color: #62223b;
  color: white;
  font-family: Poppins, sans-serif;
  font-size: 12px;
}
#footer-items {
  max-width: 1000px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
#footer-actions {
  display: flex;
  gap: 30px; /* Adjust this value to increase or decrease the gap between footer items */
}
.footer-item {
  transition: color 0.3s ease-in-out;
  color: white;
  text-decoration: none;
}
.footer-item.active {
  color: #b09262; /* Color when active */
}
.footer-item:hover {
  cursor: pointer;
  color: #b09262; /* Color when hovered */
}

#social-and-copy-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

#social-icons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px; /* Adjust this value to increase or decrease the gap between the icons and the copyright symbol */
}

.social-icon {
  color: white;
  transition: color 0.3s ease-in-out;
}

.social-icon:hover {
  color: #b09262; /* Gold color when hovered */
}

#copyright {
  text-align: center;
  width: 100%;
}
